<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=BenchNine">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" href='images/favicon.ico' type='image/x-icon'>

  </head>
  <body>

    <div id="container">

      <!-- Preloader -->
      <div class="preloader">
        <div class="preloader-gif"></div>
      </div>

      <!-- Header images -->
      <div id="header"></div>
      <div id="header-photo"></div>

      <div id="main">
        <h1>FASHION WEEK AFTER PARTY</h1>
        <p>You never quite know where Karl Lagerfeld is going to take you when he puts on a Chanel show, but one thing is certain: the scene is going to be something out of your wildest fantasies. Come celebrate NYFW.</p>
      </div>

      <div id="items">

        <div class="item one">
          <h3>9pm February 21, 2015</h3>
        </div>

        <div class="item two">
          <h3>Lincoln Center, NYC</h3>
        </div>

        <div class="item three">
          <h3>$75 per person</h3>
        </div>

        <div class="item four">
          <h3>RSVP</h3>
        </div>

      </div>

      <div id="fashion">

        <div class="fashion-item fashion-one">
          <div class="fashion-inner inner-one">
            <p>#chanel</p>
          </div>
        </div>

        <div class="fashion-item fashion-two">
          <div class="fashion-inner inner-two">
          </div>
        </div>

        <div class="fashion-item fashion-three">
          <div class="fashion-inner inner-three">
            <p>#nyfw</p>
          </div>
        </div>

        <div class="fashion-item fashion-four">
          <div class="fashion-inner inner-four">
          </div>
        </div>

      </div>

    </div>

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="javascripts/preloader.js"></script>
          
  </body>
</html>