<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Codystar">
    <link href="stylesheets/style.css" rel="stylesheet">


  </head>
  <body>

    <div id="container">

      <!-- Preloader -->
      <div class="preloader">
        <div class="preloader-gif"></div>
        <div class="preloader-header">
          <h1>PARTY</h1>
        </div>
      </div>

      <!-- <div id="boxes"> -->

        <div class="row">
          <div class="one a"></div>
          <div class="one b"></div>
          <div class="one c"></div>
        </div>

        <div class="row">
          <div class="two d">Invite</div>
          <div class="two e"></div>
          <div class="two f"></div>
        </div>

        <div class="row">
          <div class="three e"></div>
          <div class="three f"></div>
          <div class="three d"></div>
        </div>

        <div class="row">
          <div class="four g"></div>
          <div class="four h"></div>
          <div class="four d"></div>
        </div>

        <div class="row">
          <div class="five i"></div>
          <div class="five j"></div>
          <div class="five d"></div>
        </div>

      <!-- </div> -->

      <!-- scripts -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="javascripts/preloader.js"></script>
          
      </div>
    </div>
  </body>
</html>